:root {
    /* Color */
    --color-black-first: #000000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;

    --color-first: #DE585F;

    --color-second: #FFF7F8;

    --color-third: #3D405B;

    --color-fourth: #218E9F;

    --color-fifth: #F4AC45;

    --color-error: #BA1F33;
    --color-success: #62C370;
    --color-warning: #CEB02A;

    /* Font */
    /* 24px */
    --font-title: 1.50rem;

    /* 20px */
    --font-medium: 1.25rem;

    /* 16px */
    --font-text: 1.1rem;
    
    /* 14px */
    --font-input: 0.875rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-third);
    background: var(--color-second);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, figure, input {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

.blocks-scroll-bar {
    overflow: hidden;
}

ul, ol, li {
    list-style: none;
}

.section {
    padding: 50px;
}

.section-vertical {
    padding: 50px 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--color-first);
    padding: 10px 20px;
}

.icon {
    width: 40px;
    cursor: pointer;
}

.menu-toggle {
    width: 40px;
    height: 30px;
    display: block;
    background-repeat: no-repeat;
}

.menu-icon {
    background-image: url(../assets/menu.svg);
}

.close-icon {
    background-image: url(../assets/close.svg);
    margin: 7px;
    width: 38px;
    height: 20px;
}

nav {
    display: none;
}

.show-nav {
    display: block;
}

/* fullscreen */
.menu-section.on {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-first);
}

.menu-section.on .menu-toggle {
    position: absolute;
    right: 0;
    top: 15px;
    margin-right: 20px;
}

.menu-section.on nav ul {
    text-align: center;
    display: block;
}

.menu-section.on nav ul a {
    transition-duration: 0.5s;
    line-height: 4rem;
    color: var(--color-second);
    font-size: var(--font-medium);
    text-decoration: none;
}

.menu-section.on nav ul a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .menu-section nav {
        display: block;
    }

    .menu-toggle {
        display: none;
    }

    .menu-section nav ul {
        display: inline-flex;
        font-size: var(--font-medium);
    }
    
    .menu-section nav ul a::before {
        content: "";
        background: var(--color-fourth);
        width: 8px;
        height: 8px;
        margin-right: 10px;
    }
    
    .menu-section nav ul a {
        color: var(--color-third);
        display: inline-flex;
        align-items: center;
        margin-right: 30px;
        text-decoration: none;
    }

    .menu-section nav ul a:hover {
        text-decoration: underline;
    }
} 














/* Leticia - about */
.about {
    display: block;
    text-align: center;
    font-size: var(--font-text);
    line-height: 35px;
}

.about h1 {
    color: var(--color-fourth);
}

.about em {
    font-style: normal;
}   

.about .photo {
    width: 400px;
}

.about .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.about .media-icon {
    width: 30px;
    cursor: pointer;
    padding: 0 20px;
}

@media only screen and (min-width: 768px) {
    .about {
        display: flex;
        justify-content: space-between;
    }

    .about .about-1 {
        width: 50%;
        padding-right: 20px;
    }

    .about .about-2 {
        width: 50%;
        padding-left: 20px;
    }
}




















/* Leticia - skills */
.skills dl {
    margin-bottom: 30px;
}

.skills dt {
    margin-bottom: 5px;
    text-transform: uppercase;
}

.skills dd {
    margin: 0;
}

.skills .skills-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.skills progress {
    width: 250px;
    height: 30px;
    border-radius: 5px; 
    border: 1px solid var(--color-third);

}
.skills progress::-webkit-progress-bar {
    background-color: var(--color-second);
    border-radius: 5px;
}
.skills progress::-webkit-progress-value {
    background-color: var(--color-fourth);
}


@media only screen and (min-width: 768px) {
    .skills .skills-wrapper {
        flex-direction: row;
    }
}





















/* Leticia - projects */
.projects .projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects figure {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    margin-bottom: 20PX;
}

/* .projects .projects-img {
    max-width: 220px;
    max-height: 200px;
} */

.projects figcaption {
    background-color: var(--color-second);
    padding: 3px;
    text-align: center;
}


@media only screen and (min-width: 768px) {
    .projects .projects-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
    }
}





















/* Leticia - carreer */
.main-carousel {
    position: relative;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.main-carousel::after {
    content: '';
    position: absolute;
    left: 50px;
    top: 30px;
    display: block;
    height: 6px;
    width: calc(100% - 100px);
    background-color: var(--color-black-third);
}

.main-carousel::before {
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    display: block;
    border: 3px dashed var(--color-black-third);
    width: 100%;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 50px;
    height: 50px;
    width: 50px;
    box-shadow: 5px 5px 0 var(--color-fourth);
    background-color: var( --color-first);
    cursor: pointer;
    transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}

.main-carousel .button-arrow .content {
    display: none;
}

.main-carousel .button-arrow::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 28px solid var(--color-second);
    transform: translateX(13px);   
}

.main-carousel .button-arrow.-left::before {
    transform: rotate(180deg) translateX(7px);
}

.main-carousel .items {
    width: 100%;
    overflow: hidden;
}

.main-carousel .elements {
    display: flex;
    justify-content: space-between;
    /* para animações tentar trabalhar com gpu. propriedades que lê: transform e opacity */
    transition: transform 100ms ease-in;
}

.main-carousel .node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-carousel .node-card::before {
    content: '';
    box-sizing: border-box ;
    border: 2px dashed var(--color-black-third);
    height: 40px;
    position: absolute;
    bottom: 90px;
}

.main-carousel .node-card .title {
    font-weight: 400;
    font-size: var(--font-medium);
    color: var(--color-first);
    margin-bottom: 50px;
}

.main-carousel .node-card .logo {
    display: flex;
    align-items: center;
    height: 140px;
    border: 3px solid var(--color-black-third);
    border-radius: 5px;
    padding: 0 20px;
    background-color: var(--color-fifth);
    width: 80px;
    height: 80px;
}

.main-carousel .node-card.-clean .logo {
    padding: 0;
}

.main-carousel .node-card.-first .logo {
    background-color: var(--color-first);
}

.carreer .description {
    padding: 50px;
}

/* começa aula 21 */
/* @media only screen and (min-width: 768px) {
} */





















/* Leticia - contact */
/* começa da aula 19 */
.main-form .main-label {
    line-height: 40px;
}

.main-form .main-input {
    border: 2px solid var(--color-fourth);
    box-sizing: border-box;
    font-size: 30px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

/* -textarea é uma variação da classe main-input */
.main-form .main-input.-textarea {
    height: 200px;
    margin-bottom: 40px;
    resize: none;
    color: var(--color-third);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: var(--font-input);

}

.main-form .send {
    text-align: right;
    cursor: pointer;
}

.main-form input[type=text], 
.main-form input[type=email] {
    color: var(--color-third);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: var(--font-input);
}

















/* Leticia - footer */
footer {
    width: 100%;
    text-align: right;
    border-top: 2px solid var(--color-first);
}

footer p {
    padding-right: 50px;

}

footer .heart {
    width: 20px;
    vertical-align: bottom;
}