:root {
    --color-black-first: #000000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;

    /* --color-first: #F25A70; */
    --color-first: #E0777D;

    /* --color-second: #7C5E99; */
    --color-second: #FFF7F8;

    /* --color-third: #FFFFFF; */
    --color-third: #3D405B;

    /* --color-fourth: #4C5B84; */
    --color-fourth: #58A4B0;

    --color-fifth: #F4AC45;

    --color-error: #BA1F33;
    --color-success: #62C370;
    --color-warning: #CEB02A;
}

* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    
}

header {
    background: var(--color-second);
    border-bottom: 3px solid var(--color-first);
    padding: 0 20px;
}

/* pensar em mobile first */
/*  deveria ser o media query */
    nav {
        height: 70px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .rabbit {
        width: 55px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    a {
        text-decoration: none;
        padding-right: 20px;
        color: var(--color-third);
    }

    #button {
        background: var(--color-second);
        width: 170px;
        height: 60px;
        padding: 10px;
        border-radius: 5px;
        /* border: 1px solid var(--color-black-first);
        box-shadow: 5px 5px 0 var(--color-black-first); */
        border: 3px solid var(--color-fourth);
        box-shadow: 5px 5px 0 var(--color-fourth);
        color: var(--color-third);
        font-weight: 600;
        transition: transform 100ms linear, opacity 200ms ease-in-out;
    }

    #button:hover {
        transform: scale(1.05);
    }