:root {
    /* Color */
    --color-black-first: #000000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;

    --color-first: #DE585F;

    --color-second: #FFF7F8;

    --color-third: #3D405B;

    --color-fourth: #218E9F;

    --color-fifth: #F4AC45;

    --color-error: #BA1F33;
    --color-success: #62C370;
    --color-warning: #CEB02A;

    /* Font */
    /* 24px */
    --font-title: 1.50rem;

    /* 20px */
    --font-medium: 1.25rem;

    /* 16px */
    --font-text: 1.1rem;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color-second);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid var(--color-first);
    padding: 10px 20px;
}

.rabbit, .menu {
    width: 50px;
    padding: 15px 10px;
    cursor: pointer;
}

.menu {
    width: 40px;
}

.menu-desktop {
    display: none;
}


@media only screen and (min-width: 768px) {
/* mobile-menu */
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: flex;
    }

    ul {
        display: flex;
        align-items: center;
        margin: 0;
        list-style: none;
    }

    a {
        display: inline-flex;
        align-items: center;
        color: var(--color-third);
        font-size: var(--font-medium);
        text-decoration: none;
        margin-right: 30px;
    }

    .sections::before {
        content: "";
        background: var(--color-fourth);
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }

    .sections:hover {
        text-decoration: underline;
    }

}




















/* Leticia - about */
.about {
    display: block;
    text-align: center;
    color: var(--color-third);
    font-size: var(--font-text);
    line-height: 35px;
}

.about h1 {
    color: var(--color-fourth);
}

.about em {
    font-style: normal;
}   

.about .photo {
    width: 400px;
}

.about .social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}

.about .media-icon {
    width: 30px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .about {
        display: flex;
        justify-content: space-between;
    }

    .about .about-1 {
        padding-right: 20px;
    }

    .about .about-2 {
        padding-left: 20px;
    }
}

