.button {
    display: inline-block;
    box-sizing: 5px 5px 0 var(--color-fourth);
    padding: 10px;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
    background: var(--color-second);
    width: 170px;
    border-radius: 5px;
    border: 3px solid var(--color-fourth);
    box-shadow: 5px 5px 0 var(--color-fourth);
    color: var(--color-third);
    font-weight: 600;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
    text-align: center;
}

.button:hover {
    transform: scale(1.08);
}
